{
    # Global options
    admin off
    auto_https disable_redirects
}

:80 {
    root * /var/www/html
    file_server
    encode gzip
    
    # Basic PHP configuration
    # php_fastcgi unix//run/php/php-fpm.sock
    
    # Logging
    log {
        output file /var/log/caddy/access.log
        format json
    }
} 